body{
    background-color: aquamarine;
  
   
    
    
}

h1{
  margin-top: 0; 
    font-size: 4.4em;
    font-weight: normal;
    display:inline-block;
    text-align: center;
    
    
}
header{
    
    background-color: #4e4e4e;
  
    color: #0d0d0c;
  padding: 0;
      margin: 0px;
    font-family: Helvetica,sans-serif;
    padding: 5px 5%;
    
    
    
}
#weather_background{
  height: 500px;
   margin-top:50px;
    background-size: cover;
   
    
    
    background-image: url(../img/sunny.jpg);
    
    
    
    
}

#intro{
    font-size: 2.5em;
    font-family: Helvetica,sans-serif;
   text-align: justify;
    color: #141312; 
   margin-top: 30px;
    
    
    
    
    
}


#city{
  font-family: Helvetica,sans-serif;  
   color: #141312; 
     font-size: 5.5em;
    text-align: center;
    margin:157px;
    
    
    
    
}

#temp{
 font-family: Helvetica,sans-serif;  
   color: #112c0a; 
     font-size: 7.5em;
    text-align: center; 
    margin:310px;
    
    
    
}
.zip{
    
  margin-right: 10px;
    margin-left:10px;
    padding:5px 0px 14px 0px;
   
    
    
}
button{
    background-color: rgba(9, 20, 23, 0.52);
    color:#fff;
    border:none;
    padding:2px 1px;
    font-size:14px;
    border-radius: 2px;
    cursor:pointer;
    outline:none;
    box-shadow: 2px 2px 0 #034154;
    margin-bottom: 3px;
    margin-left:3px;
    transition: opacity .4s ease-out, transform .4s ease-out, vusubukuty .4s ease-out;
    position:relative;
    top: -3px;
    margin-top:15px;
    
    
    
}
button:hover{
    background-color: #034f66;

}
button:active{
    background-color: #034154;
    box-shadow: none;
    position: relative;
    top:-8px; 
    left: 2px;
}

